
.topGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background-color: #111;
  color: #fff;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
  height: 20rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

p{
  font-size: 2.4rem;
}

.number {
  font-size: 10rem;
  font-weight: bold;
}


.bottomGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  padding: 2rem;
}

.tableCard {
  background-color: #383535;
  color: #fff;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tableHeader,
.tableRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.tableHeader p {
  font-weight: bold;
}
.tableHeader{
  background-color: #111;
  padding: 2rem;
  border-radius: 5px;
}
.tableRow p {
  margin: 0;
}

.tableRow a {
  color: black;
  background-color: white;
  text-align: center;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.tableRow a:hover {
  background-color: #ddd;
}
.btn{
  font-size: 1.6rem;
}