*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.5%;
}
.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

span{
  font-size: 2.4rem;
}
nav{
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}
a:hover{
margin-right: 0.5rem;
color: rgb(0, 183, 255);
}