.nav {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #333;
}

.nav a {
  text-decoration: none;
  color: #bbb;
  padding: 0.5rem 0;
  position: relative;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #fff;
}

.active {
  color: #fff;
  font-weight: bold;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ff8fab; /* cor de destaque */
  border-radius: 2px;
}
